---
layout: page
title: "About"
description: "Welcome to Joe's Shire."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Stay hungry!<br>
    Stay foolish!</p></blockquote>

    <p>Hey，I am <strong>Joe</strong>，currently a student studying <strong>data science</strong> in Northwestern University. Below is my CV.</p>
    <p><strong>Education</strong></p>
    <ul style="list-style-type:circle;">
        <li>Northwestern University, McCormick School of Engineering</li>
        <li><I>Master of Science in Analytics<I></li>
            <ul style="list-style-type:disc;">
                <li>Related coursework: Predictive Analytics, Java & Python Programming, Database & Information Retrieval</li>
            <ul>
        <li>Shanghai Jiao Tong University, Antai College of Economics and Management</li>
        <li><I>Bachelor in Business Administration<I></li>
            <ul style="list-style-type:disc;">
                <li>GPA 3.92/4.0, ranking 1/44</li>
                <li>Related coursework: Operations Research, C++, Database, Data Structure, Computer Software and Hardware</li>
            <ul>
        <li>University of California, Berkeley</li>
        <li><I>Summer Session<I></li>
            <ul style="list-style-type:disc;">
                <li>Related coursework: The Person in Big Data, Corporate Finance and Statement Analysis</li>
            <ul>
    <ul>
    <p><strong>Working Experience</strong></p>
        <ul style="list-style-type:circle;">
            <li>Ping An Technology</li>
                <ul style="list-style-type:disc;">
                  <li>Studied the application of blockchain in the financial and medical fields, collected information about existing products and competitors on the market, and benchmarked them against Ping An’s products</li>
                  <li>Used Python, Hive, R, and other tools to collect, clean, and analyze customer data, create customer portraits, and optimize product pricing based on the analysis</li>
                  <li>Wrote and maintained crawlers to generate weekly tech news feeds from TechCrunch, 36kr and AIEra</li>
                </ul>
            <li>American Securities</li>
                <ul style="list-style-type:disc;">
                  <li>Organized the information of upstream and downstream companies and competitors related to the acquired company through online data combing and telephone interviews, and finished profile</li>
                  <li>Managed problems in the acquired companies' business through data visualization and regression analysis, and helped find new market opportunities and develop feasible strategies
</li>
                </ul>
            <li>Boston Consulting Group</li>
                <ul style="list-style-type:disc;">
                  <li>Reduced cost by breaking down expenses and optimizing procurement process for a top 500 manufacturer</li>
                  <li>Filter a list of potential cities for a real estate agency's investment and development opportunities</li>
                </ul>
            <li>Deloitte</li>
                <ul style="list-style-type:disc;">
                  <li>Annual auditing. Checked accounting subjects and did different tests to verify the authenticity of the data</li>
                </ul>
            <li>Bain& Company</li>
                <ul style="list-style-type:disc;">
                  <li>Helped a fishmeal company increase revenue and profit in Chinese market by analyzing supply chain</li>
                </ul> 
            <li>A.T. Kearney</li>
                <ul style="list-style-type:disc;">
                  <li>Helped a technology company to complete business transformation and process standardization</li>
                  <li>Asisted the consultant to collect information about process of budget planning & auditing, translate copies, draw PPTs of the business process, and compile deliverable files</li>
                  <li>Added, modified, and checked more than 200 slides and compiled 105 deliverable files</li>
                </ul>
            <li>Hua Insurance</li>
                <ul style="list-style-type:disc;">
                  <li>Analyzed outworkers' daily performance and sorted out the documents</li>
                  <li>Contacted and encouraged the outworkers to fulfill their daily targets</li>
                  <li>Helped the manager to achieve the sales of 25 million yuan in January</li>
                </ul>
        </ul>
    <p>In addition to work and study, I am a cross-fit enthusiast. I also like cars and karts very much. Join me to be fast and furious</p>

    <p></p>
    
    <h5>Talks</h5>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <li><a href="http://huangxuan.me/">Hux</a></li> 
        <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li>
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

